@font-face {
  font-family: 'AvenirNextReg';
  src: url("/fonts/AvenirNextReg.eot");
  src: url("/fonts/AvenirNextReg.eot?#iefix") format("embedded-opentype"), url("/fonts/AvenirNextReg.woff") format("woff"), url("/fonts/AvenirNextReg.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextMed';
  src: url("/fonts/AvenirNextMed.eot");
  src: url("/fonts/AvenirNextMed.eot?#iefix") format("embedded-opentype"), url("/fonts/AvenirNextMed.woff") format("woff"), url("/fonts/AvenirNextMed.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextDemi';
  src: url("/fonts/AvenirNextDemi.eot");
  src: url("/fonts/AvenirNextDemi.eot?#iefix") format("embedded-opentype"), url("/fonts/AvenirNextDemi.woff") format("woff"), url("/fonts/AvenirNextDemi.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextBold';
  src: url("/fonts/AvenirNextBold.eot");
  src: url("/fonts/AvenirNextBold.eot?#iefix") format("embedded-opentype"), url("/fonts/AvenirNextBold.woff") format("woff"), url("/fonts/AvenirNextBold.ttf") format("truetype"); }


body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, 'BrownBold', Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	height: 100%;
	color: #383838;
}


.navbar {
	width: 220px;
	height: 100%;
	position: fixed;
	background-color: #f9f9f9;
	border-right: 1px solid #f2f2f2;
	box-sizing: border-box;
	padding: 12px;
}

.navbar .title {
	margin-top: 5px;
	font-weight: bold;
	color: #4f4f4f;
	font-size: 18px;
}

.navbar .subtitle {
	font-weight: 200;
	color: #6b6b6b;
	font-size: 18px;
}

.navbar .links {
	list-style: none;
	padding-left: 0px;
	margin-top: 20px;
	line-height: 2.0;
}

navbar li.active {
	padding-left: 5px;
}

.navbar li.active a {
	color: #1d8eaa;
	-webkit-animation: activeSlide 0.5s;
	padding-left: 3px;
}

@-webkit-keyframes activeSlide {
    from {color: #7c7c7c; padding-left: 0px;}
    to {color: #1d8eaa; padding-left: 3px;}
}

.navbar li.divider {
	background-color: #dadada;
	height: 1px;
	margin: 8px 0px;
}

.navbar .links a {
	display: block;
	text-decoration: none;
	color: #7c7c7c;
}

.navbar .links a:hover {
	color: #086278;
}

.container {
	margin-left: 220px; /* navbar width */
	margin-right: 0;
}

.content {
	max-width: 790px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: 1.5;
	padding-top: 50px;
	margin-bottom: 100px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.me {
	position: absolute;
}

#hello {
	padding-top: 100px;
}

.hero-container {
	margin-left: 220px;
	max-width: 500px;
	display: inline-block;
	margin-bottom: 30px;
}

.hero {
	width: 100%;
	font-size: 40px;
	font-weight: 200;
	font-family: 'AvenirNextDemi';
	color: #2e5365;
}

.subtitle {
	color: #848484;
	font-weight: 200;
	font-size: 23px;
	margin-bottom: 25px;
}
.hero-container .subtitle {
	color: #949494;
}
.caption {
	color: #848484;
}

h1,h2,h3,h4 {
	margin: 0px;
	padding: 0px;
	font-family: 'AvenirNextDemi';
	color: #2e5365;
	display: inline-block;
}

.content a {
	color: #2e5365;
}

#glue h1,#glue h2 {
	color: #336983;
}

#glass h1,#glass h2 {
	color: #245dc1;
}

#blogger h1,#blogger h2,#blogger a {
	color: #FF6601;
}

#packd h1,#packd h2,#packd a {
	color: #5d2e67;
}

.big-link {
	font-size: 23px;
	text-decoration: none;
	font-family: 'AvenirNextDemi';
	border-bottom: 2px solid #ededed;
}


.badge {
	font-family: "Helvetica Neue", Helvetica, 'BrownBold', Arial, "Lucida Grande", sans-serif;
	font-weight: 200;
	font-size: 16px;
	padding: 2px 10px;
	border: 1px solid #30b1e0;
	color: #1d8eb6;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
	margin-left: 12px;
}

.badge.dark {
	border-color: #636363;
	color: #6f6f6f;
}

.badge.blue {
	border-color: #4276d0;
	color: #356ecf;
}

.badge.green {
	border-color: #44c46b;
	color: #2fb658;
}

.badge.grey {
	border-color: #b0b0b0;
	color: #b0b0b0;
}

.glue1 {
	float: left;
	margin-top: -16px;
	margin-left: -80px;
	margin-right: 30px;
}

.glue2 {
	float: left;
	margin-top: -10px;
	margin-left: -50px;
	margin-right: 30px;
}

.bike1 {
	float: right;
	margin-top: -10px;
	margin-left: 20px;
	margin-right: -60px;
}

.packd1 {
	float: left;
	margin-top: 10px;
	margin-left: -120px;
	margin-right: 30px;
	margin-bottom: 0px;
}

.center {
	text-align: center;
}

.content ul {
	width: auto;
	overflow: hidden;
}

.content li {
	margin-bottom: 10px;
	line-height: 1.5;
}

@media screen and (max-width: 1000px) {
     .navbar {
	     display: none;
     }
     .container {
	     margin-left: auto;
	     margin-right: auto;
     }
     
     .glue1,.bike1,.glue2,.packd1 {
	     float: none;
	     margin: 0px;
     }
     
     .me {
	     position: relative;
     }
     
     .hero-container {
	     margin-left: 0px;
     }
     
     body {
	     padding: 0px 10px;
     }
}
