@font-face {
  font-family: 'AvenirNextReg';
  src: url("../fonts/AvenirNextReg.eot");
  src: url("../fonts/AvenirNextReg.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextReg.woff") format("woff"), url("../fonts/AvenirNextReg.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextMed';
  src: url("../fonts/AvenirNextMed.eot");
  src: url("../fonts/AvenirNextMed.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextMed.woff") format("woff"), url("../fonts/AvenirNextMed.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextDemi';
  src: url("../fonts/AvenirNextDemi.eot");
  src: url("../fonts/AvenirNextDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextDemi.woff") format("woff"), url("../fonts/AvenirNextDemi.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextBold';
  src: url("../fonts/AvenirNextBold.eot");
  src: url("../fonts/AvenirNextBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextBold.woff") format("woff"), url("../fonts/AvenirNextBold.ttf") format("truetype"); }


html {
    height: 100%;
}
body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, 'BrownBold', Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	height: 100%;
	color: #ffffff;
	background-color: #FF5555;
	background-image: linear-gradient(#FF5555, #FF499F);
}

.page-logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 500px;
	text-align: center;
}

.page {
	color: #282828;
	background-color: white;
	width: 900px;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
	box-sizing: border-box;
	padding: 20px;
}

h1,h2,h3 {
	font-weight: 200;
	margin: 0px;
	padding: 0px;
}



